#divModalAjax
{
	background-color: rgba(0, 0, 0, 0.7);
	bottom: 0px;
	display: none;
	left: 0px;
	padding-top: 270px;
	position: fixed;
	right: 0px;
	text-align: center;
	top: 0px;
	z-index: 20000;
}

#divModalAjax > span
{
	color: #ffffff;
	font-size: 25px;
}
